# absolutely necessary packages, pinned during development for reproducibility
numpy==1.23.0
scipy==1.10.0
sympy==1.10.0
matplotlib==3.7.0
tqdm==4.67.1
ncon_torch==0.3
torch==2.1.0
stim==1.14.0
# extra packages for dev 
pytest==8.0.0
scienceplots
ipykernel 
ipywidgets